.book-reader {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  position: relative;
  background-color: black;

  .top, .left, .right {
    width: 33%;
    position: absolute;
    cursor: pointer;
  }

  .top {
    width: 33%;
    height: 33%;
    right: 33%;
    top: 0;
  }

  .left {
    height: 100%;
    left: 0;
  }

  .right {
    height: 100%;
    right: 0;
  }
}
